footer {
    padding: 32px 0;
    height: 100vh;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-address,
.footer-phone {
    width: 33%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.footer-location {
    width: 100%;
    text-align: center;
}

.footer-location h4{
    color: white;
    font-size: 30px;
}

#map {
    width: 100%;
    height: 300px;
}

h4 {
    margin-bottom: 8px;
}

.footer-copyright {
    text-align: center;
    margin-top: 32px;
}

footer hr{
    color: white;
}


@media screen and (max-width: 500px) {
    footer{
        top: 150px;
    }
}