nav{
    position: sticky;
    z-index: 9999;
    width: 100%;
}

.navbar-nav li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    left: 40px;
}


@media screen and (max-width:768px) {
    .navbar-toggler{
        background-color: rgba(240, 248, 255, 0.39);
    }

    .navbar-nav li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }
    .navbar-toggler-icon p{
        font-size: 30px;
        font-weight: bolder;
        color: white;
        top: -5px;
    }
}