nav{
    position: sticky;
    z-index: 9999;
    width: 100%;
}

.navbar-nav li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    left: 40px;
}


@media screen and (max-width:768px) {
    .navbar-toggler{
        background-color: rgba(240, 248, 255, 0.39);
    }

    nav{
        background-color: rgba(128, 128, 128, 0.712);        
    }

    .navbar-nav li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }
    .navbar-toggler-icon p{
        font-size: 30px;
        font-weight: bolder;
        color: white;
        top: -5px;
    }

    nav{
        position: fixed;
        z-index: 9999999;
    }

    .welcome-round{
        height: 70vh;
        margin-top: 110px;
    }

    header h1{
        top: -100px;
    }
}